@using System.Linq


@model KitchenViewModel
@{
    ViewData["Title"] = "Kitchen";
}

<h1>Kitchen</h1>

<div class="flex-grow-1">
    <form asp-controller="Bookings" asp-action="Kitchen">
        <label for="SearchDate">Bookings on the :</label>
        <input type="date" id="SearchDate" name="SearchDate"/>
        <input type="submit" value="Søg dato"/>
    </form>
</div>
<br>
<table class="table flex-grow-1">
    <thead>
        <tr>
            <th style="width: 35%">
                Amount of guests today
            </th>
            <th style="width: 25%">
                Not Yet Checked In
            </th>
            <th style="width: 10%">
                Adults
            </th>
            <th>
                Children
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.TotalAmountOfGuest)
            </td>
            <td>
                @Html.DisplayFor(Model=> Model.NotCheckedInYet)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.TotalAmontOfAdults)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.TotalAmontOfChildren)
            </td>
        </tr>
    </tbody>
</table>
<br>
<table class="table flex-grow-1">
    <thead>
    <tr>
        <th style="width: 60%">
            Checked In Guests today
        </th>
        <th style="width: 10%">
            Adults
        </th>
        <th>
            Children
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Html.DisplayFor(Model => Model.TotalAmountOfChecked)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.AmontOfAdultsCheckedIn)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.AmontOfChildrenCheckedIn)
        </td>
    </tr>
    </tbody>
</table>
<br>

<table class="table flex-grow-1">
    <thead>
        <tr>
            <th style="width: 20%">
                RoomNumber
            </th>
            <th style="width: 15%">
                Date
            </th>
            <th style="width: 25%">
                Checked In
            </th>
            <th style="width: 10%">
                Adults
            </th>
            <th>
                Children
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Checkedin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountChildren)
                </td>
            </tr>
        }
    </tbody>
</table>
<br/><br/>
<button onClick="window.location.reload()" class="refreshBtn">Refresh Page</button>
