@using System.Linq
@model ReceptionViewModel

@{
    ViewData["Title"] = "Reception";
    <link rel="stylesheet" href="~/css/Reception.css" />
}

<h1>Reception</h1>
<div class="row">
    <div class="card-columns">
        <a asp-action="NewBooking">New Booking</a>
    </div>
</div>
<p>
    Total Amount of guests today: @Html.DisplayFor(Model => Model.TotalAmountOfGuest)
</p>

<div>
    <form asp-controller="Bookings" asp-action="ReceptionCheckedIn">
        <label for="SearchDate">Bookings on the :</label>
        <input type="date" id="SearchDate" name="SearchDate"/>
        <input type="submit" value="Søg dato"/>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                RoomNumber
            </th>
            <th>
                Date
            </th>
            <th>
                Adults
            </th>
            <th>
                Children
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountChildren)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="{@item.RoomNumber}">Edit</a>  |
                    <a asp-action="Delete" asp-route-id="@item.RoomNumber">Delete</a>
                    @*@Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
