@model ReceptionViewModel

@{
    ViewData["Title"] = "ReceptionMain";
}

<h1>ReceptionMain</h1>

<p>
    <a asp-action="Create">Create New Booking</a>
</p>
<p>
    Total Amount of guests today: @Html.DisplayFor(Model => Model.TotalAmountOfGuest)
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            Adults
        </th>
        <th>
            Children
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountChildren)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>
</table>