@model ReceptionViewModel

@{
    ViewData["Title"] = "ReceptionCheckedIn";
    <link rel="stylesheet" href="~/css/Reception.css" />
}

<h1>Reception</h1>
<p>
    Total Amount of guests today: @Html.DisplayFor(Model => Model.TotalAmountOfGuest) <br>
    Total Amount of guests checkedIn: @Html.DisplayFor(Model => Model.TotalAmountOgChecked)
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                CheckedIn
            </th>
            <th>
                RoomNumber
            </th>
            <th>
                Adults
            </th>
            <th>
                Children
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkedin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountChildren)
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div>
    <a asp-action="ReceptionMain">Back to Bookings</a>
</div>*@
<button onclick="history.back();">Back to Bookings</button>
