@using System.Linq
@using Microsoft.EntityFrameworkCore.Internal
@model RestaurantViewModel
@{
    ViewData["Title"] = "RestaurantMain";
}

<h1>Restaurant</h1>


<form method="post">
    <table class="table">
        <thead>
            Total checked in: @Model.TotalAmountGuests
            <br />

            <tr>
                <th>
                    Checked In
                </th>
                <th>
                    Date
                </th>
                <th>
                    Room Number
                </th>
                <th>
                    Amount of Adults
                </th>
                <th>
                    Amount of Children
                </th>

            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Bookings.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(r => r.Bookings[i].Checkedin)
                    </td>
                    <td>
                        @Model.Bookings[i].Date
                    </td>
                    <td>
                        @Model.Bookings[i].RoomNumber
                    </td>
                    <td>
                        @Model.Bookings[i].AmountAdults
                    </td>
                    <td>
                        @Model.Bookings[i].AmountChildren
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="save" /> <br /><br />
</form>
<a asp-controller="Home" asp-action="Index">Back to Kitchen</a>

